.tour{
    padding: 100px 0;
}
.tour-content{
    width: 900px;
}
.tour-content-item-img{
    width: 50%;
    height: 300px;
}
.tour-content-item-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tour-content-item-text{
    width: 50%;
    padding: 20px 0 0 50px;
}
.tour-content-item-text h2{
    font-family: var(--sub-text);
    font-weight: normal;
    color: var(--main);
}
.tour-content-item-text p{
    font-size: 18px;
    margin: 20px 0;
    font-family: var(--sub-text);
}
.tour-content-item{
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    margin-bottom: 12px;
}
.tour-content-item:nth-child(even) {
    flex-direction: row-reverse;
}
.card{
    border: none;
    position: relative;
    display: flex;
    background: linear-gradient( 43deg, #b6dcec 0%, #6DBFE2 46%, #b6dcec 100% ) ;
}
.card::before,
.card::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
}
.card::before{
    border-style: solid;
    border-width: 0 0 50px 50px;
    border-color: transparent transparent #fff transparent;
    transition: border 0.25s;
}
.card::after{
    content: "Go";
    bottom: 15px;
    right: 15px;
    color: #000;
    font-size: 21px;
    opacity: 0;
}.card:hover::before{
    border-width: 0 0 100px 100px;
}
.card:hover::after{
    opacity: 1;
    transition: opacity 0.5s;
}
.card__title{
    color: #fff;
    margin: auto;
    font-size: 30px;
}
@keyframes cycle {
    0%{opacity: 0;}
    10%{opacity: 1;}
    20%{
        opacity: 1;
        transform: scale(1.05);
    }
    30%{
        opacity: 0;
        transform: scale(1.05);
    }
    100%{opacity: 0;}
}




@media(max-width:575px){}